.rootDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center; 
    margin: auto; 
    gap: 20px;
}

.urlDetailsDiv {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    flex-wrap: wrap;
    width: 100%; 
    gap: 10px;
}

.urlDetailsDiv h2, .urlDetailsDiv a {
    margin: 0; 
    display: inline-flex; 
    align-items: center; 
}


.analyticsDetailsDiv{
    width: 100%;
    height: 50vh;
    margin: auto;
}

#backButton{
    display: inline-flex; 
    align-items: center; 
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    background: none;
    border: none;

}
